.gradle/
build/*
!build/libs/
build/libs/*
!build/libs/orc-carbon-bench-spark31-all.jar
!build/libs/orc-carbon-bench-spark32-all.jar
app-spark31/build/
app-spark32/build/
dist/*
!dist/spark-3.1.1-bin-without-hadoop.tgz.part-*
!dist/spark-3.1.1-hive-jars.tgz
